<div class="flex justify-content-between">
    <h2>Products</h2>
    <p-button label="Add Product" (click)="showAddModal()"></p-button>
</div>
<p-table [value]="products" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <!-- <th>Description</th> -->
            <th>Category</th>
            <th>Image</th>
            <th></th>
            <!-- <th>Rating</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <!-- <td>{{product.description}}</td> -->
            <td>{{product.category}}</td>
            <td><img src="{{ product.image }}" height="20px"/></td>
            <td>
                <button
                    pButton
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="showEditModal(product)"
                ></button>
                <button
                    pButton
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteProduct (product)"
            ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table>

<app-add-edit-product  
[displayAddEditModal]="displayAddEditModal"
[selectedProduct]="selectedProduct"
(clickClose)="hideAddModal($event)"
(clickAddEdit)="saveorUpdateProductList($event)">
</app-add-edit-product>

<p-confirmDialog header="Delete"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
