<p-dialog header="Update Role" [(visible)]="displayAddDeleteRoleModal" 
[breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' ,height: '30vw'}" 
[draggable]="false" [resizable]="false"
(onHide) = "closeModal1()">
<form flex layout="column" height="400px" overflow-y="auto" class="product-form">
    <div class="field">
        <p-dropdown [options]="roles" formControlName="roles" optionLabel="name" placeholder="Select a role">
            <!-- <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                    <div>{{ selectedCountry.name }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ country.name }}</div>
                </div>
            </ng-template> -->
        </p-dropdown>
    </div>

</form>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeModal1()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="addEditProduct()" label="Add role"></p-button>
    </ng-template>

</p-dialog>

